<!DOCTYPE html>
<html>
<head>
  <title>TenantManagement</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<%= yield %>
</div>
<a href="www.google.com" class="btn btn-primary">Click Me</a>
</body>
</html>
